$font-default:16px;
$font-middle:18px;
$font-big:24px;
$font-small:14px;
$font-mini:12px;

$body-bg: #f2f7f9; 
$content-bg: #fff; 

$default-text: #666; 
$common-text: #999;  
$stress-text:#333; 
$mute-text:#00b4b4;
$black-text:#000;

$label-text:#fff; 