@mixin transform($param){
    -webkit-transform: $param;
    -moz-transform: $param;
    -ms-transform: $param;
    -o-transform: $param;
    transform: $param;
}
@mixin boderRadius($param){
    -webkit-border-radius: $param;
    -moz-border-radius: $param;
    border-radius: $param;
}
$baseFontSize:100 !default;
$rate:1.2;
@function px2Rem($px){
    @return ($px / $baseFontSize / $rate) * 1rem;
}
html,body,dl,dt,dd,p,img,a{ 
    padding: 0;
    margin: 0; 
}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{
    background-color: #0f141d; 
}
a{
    text-decoration: none;
}
*{
  outline: none; 
  -webkit-tap-highlight-color: transparent;  
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
.s{
    &1{
        width:px2Rem(1080);
        height: px2Rem(1048);
        background: url(../img/part1.jpg) no-repeat;
        background-size: contain;
    }
    &2{
        position: relative;
        width:px2Rem(1080);
        height: px2Rem(2577);
        background: url(../img/part2.jpg) no-repeat;
        background-size: contain;
    }
}
.c{
    width:px2Rem(800);
    position: absolute;
    left:50%;
    top:px2Rem(140);
    text-align: center;
    font-family: "microsoft yahei";
    font-size:px2Rem(32);
    color:#fff;
    @include transform(translateX(-50%));
    &-v{
        margin: 0 auto px2Rem(90);
        height: px2Rem(860);
        .ypw-video{
            left:50%;
            @include transform(translateX(-50%));
             video{
                width:px2Rem(480);
                height: px2Rem(852);
                position: relative;
            }
        }
    }
    &-h{
        height: px2Rem(311);
        position: relative;
        margin-bottom: px2Rem(20);
       .logo{
           width: px2Rem(301);
           height:px2Rem(311);
           position: absolute;
           left:0;
           top:0;
           background: url(../img/hh.png) no-repeat;
           background-size: contain;
       }
       .info{ 

           .title{
               width: px2Rem(454);
               height: px2Rem(108);
               position: absolute;
               right:px2Rem(30);
               top:px2Rem(36);
               background: url(../img/title.png) no-repeat;
               background-size: contain;
           }
           .num{
               width:px2Rem(460);
               height:px2Rem(75);
               line-height: px2Rem(75);
               text-align: center;
               font-size:px2Rem(48);
               color:#a1c9d3;
               background:#1e3d46;
               @include boderRadius(px2Rem(10));
               position: absolute;
               right:px2Rem(30);
               bottom:px2Rem(50);
           }
       }
    }
    &-bs{
        position: relative;
        height:px2Rem(120);
        margin-bottom: px2Rem(50);
        .btn{
            display: block;
            width: px2Rem(356);
            height: px2Rem(120);
            line-height: px2Rem(120);
            font-size: px2Rem(46);
            color:#fff;
            position: absolute;
            top:0;
            background: url(../img/btn-bg.jpg) no-repeat;
            background-size: contain;
            &:focus,&:active,&:hover{ 
                background-color: transparent; 
            } 
            &.buy{
                left:px2Rem(16);
            }
            &.share{
                right:px2Rem(16);
            }
        }
    }
    &-p{
        text-align: left;
        font-size: px2Rem(32);
        letter-spacing: px2Rem(4);
        color:#7aa6b1;
        margin: 0 px2Rem(12) px2Rem(35);
        p{
            margin-bottom: px2Rem(46);
        }
    }
    &-pl{
        width:px2Rem(704);
        height:px2Rem(281);
        padding:px2Rem(42);
        text-align: left;
        font-size: px2Rem(34);
        color:#fff;
        background: url(../img/c-p-bg.jpg) no-repeat;
        background-size: contain;
        margin-bottom: px2Rem(42);
    }
    &-f{
        text-align: left;
        color:#7aa6b1;
        font-size:px2Rem(30);
    }
}
.ww-share-tips{
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    z-index: 99;
    background: rgba(0,0,0,.5);
    .tips-dialog{
        width:5rem;
        height:1.2rem;
        line-height: 1.2rem;
        text-align: center;
        font-family: "microsoft yahei";
        background: #acfbf8;
        font-size:0.48rem;
        border-radius: 0.05rem;
        position: absolute;
        right:0.28rem;
        top:2rem;
        .ico-share{
            display: inline-block;
            width:0.6rem;
            height:0.6rem;
            margin:0 0.1rem;
            vertical-align: middle;
            position: relative;
            top:-0.03rem;
            background: url(../img/ico-share.png) no-repeat;
            background-size: contain;
        }
        .pointer{
            width:0.06rem;
            height:1.5rem;
            position: absolute;
            bottom: 1.2rem;
            right: 0.3rem;
            background: #acfbf8;
            &:after{
                content: "";
                display: block;
                width:0.2rem;
                height: 0.2rem;
                border-radius: 50%;
                background: #acfbf8;
                position: absolute;
                top:-0.08rem;
                left:-0.075rem;
            }
        }
    }
}
