.ypw-footer{
    width:1200px;
    margin:auto;
    position: relative;
    .logo{
        position: absolute;
        left:0;
        top:30px;
    }
    .contact{
        position: absolute;
        left:210px;
        top:32px;
        font-size:14px;
        dd{
            float: left;
            margin-right: 40px;
        }
    }
    .copyright{
        font-size:12px;
        color:#999;
        position: absolute;
        left:210px;
        top:57px;
        span{
            margin-right: 30px;
        }
    }
    .ypw-share{
        position: absolute;
        right:0;
        top:40px;
        >li{
            margin-right: 0;
            margin-left:30px;
            &:hover{
                &:after{
                    content: "";
                }
                .ico-wexin-gray{background-position: 0 0 ;}
                .ico-yixin-gray{background-position: 0 -36px ;}
                .ico-weibo-gray{background-position: 0 -72px ;}
            }
            
        }
    }
}
